@model Appointment

<div class="row orderForm ">
    <h3 class="text-center">Создание заявки</h3>
    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label asp-for="DoctorId" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-8">
                <input class="btn btn-success" type="submit" value="Разместить заказ" />
            </div>
        </div>
    </form>
</div>