<h1>Платная поликлиника</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Описание предметной области</h2>
            <p>
                Предметная область «Поликлиника» представляет собой систему, позволяющую эффективно управлять деятельностью городской поликлиники. Это предполагает обработку, редактирование, хранение и вывод всей необходимой информации в удобном для пользователей виде, которая включает в себя сведения о пациентах, врачах, диагнозах и о записях на прием к докторам. Разрабатываемой подсистемой могут пользоваться работники поликлиники и пациенты.
            </p>
            <p>
                Поликлиника – лечебно-профилактическое учреждение, предназначенное для оказания внебольничной медицинской помощи населению и проведения комплекса профилактических мероприятий, направленных на снижение заболеваемости.
            </p>
        </div>
    </div>
</div>